<a href="https://colab.research.google.com/github/SnehalMergal/Quora_1/blob/main/All_python_interview_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##String Palindrome using 4 ways 
1.Slicing
2.for loop
3.While loop
4.Inbuilt functions - join and reversed

In [ ]:
def palindrome(s):
  rev=s[::-1]
  if rev==s:
    return True
  else:
    return False

s="MasaM"
palindrome(s)

True

In [ ]:
def fpalindrome(s):
  n=len(s)
  for i in range(n):
    if s[i]!=s[n-i-1]:
      return False
    else:
      return True

s="MadaM"
fpalindrome(s)

True

In [ ]:
def wpalindrome(s):
  n=len(s)
  first=0
  last=n-1
  while(first<last):
    if s[first] == s[last]:
      first+=1
      last-=1
      return True
    else:
      return False

s="MadaMa"
wpalindrome(s)

False

In [ ]:
def jpalindrome(s):
  rev=''.join(reversed(s))
  if rev==s:
    return True
  else:
    return False

s="MadMm"
jpalindrome(s)

False

##Palindrome of a number
2 ways
1.While 
2.Converting in a string (not recommended)

In [ ]:
def npalindrome(num):
  temp = num
  rev=0
  digit=0
  while (num>0):
    digit=num%10
    rev=rev *10 + digit
    num=num//10
  print(rev)
  if temp==rev:
    return True
  else:
    return False

num=12321
npalindrome(num)

12321

True

In [ ]:
num=123454321
n=str(num)
rev=n[::-1]
if n==rev:
  print("true")
else:
  print("false")

true

##Fibonacci Series
1.while loop
2.for loop
2.Recursion

In [ ]:
def wfibonacci(n):
  a=0
  b=1
  cnt=0
  print(a)
  while(cnt<n):
    print(b)
    a,b=b,a+b
    cnt+=1

n=8
wfibonacci(n)

0
1
1
2
3
5
8
13
21

In [ ]:
def ffibonacci(n):
  a=0
  b=1
  if n==1:
    print(a)
  else:
    print(a)
    print(b)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)
n=10
ffibonacci(n)

0
1
1
2
3
5
8
13
21
34

In [ ]:
def rfibonacci(n):
  if n==0 :
    return 0
  if n==1 or n==2:
    return 1
  else:
    return rfibonacci(n-1) + rfibonacci(n-2)
n=8
rfibonacci(n)

21

##String occurances
1.number of occurance 
2.certain character 
3.

In [ ]:
def compress(s):
  cnt =1
  n=len(s)
  ch=''
  for i in range(n-1):
    if s[i]==s[i+1]:
      cnt+=1
    else:
      ch=ch+s[i]+str(cnt)
      cnt=1
  ch=ch + s[n-1] +str(cnt)
  return ch

s="aabbccdddeeeiii"
compress(s)

'a2b2c2d3e3i3'

In [ ]:
def occurance(n):
  a=len(n)
  cnt=1
  rev=''
  for i in range(a-1):
    if n[i]==n[i+1]:
      cnt+=1
    else:
      rev+=n[i]+str(cnt)
      cnt=1
  rev+=n[a-1]+str(cnt)
  return rev

n="hhddkkssss"
occurance(n)

'h2d2k2s4'

In [ ]:
def woccurance(s):
  n=len(s)
  i=0
  res=''
  cnt=1
  while(i<n-1):
    while(s[i]==s[i+1] cnt+=1):
      i+=1
      
  i+=1

##FizzBuzz Problem

In [ ]:
def fizbuz(n):
  for i in range(1,n+1):
    if  i%5==0 and i%3==0:
      print("FizzBuzz")
    elif i%5==0:
      print("Buzz")
    elif i%3==0:
      print("Fizz")
    else:
      print(i)

fizbuz(16)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16

In [ ]:
def fiz(n):
  d={3:'fizz' , 5:'Buzz'}
  for i in range(1,n+1):
    res=''
    for k,v in d.items():
      if i%k==0:
        res=res+v
    if not res:
        res=i
    print(res)

fiz(15)

1
2
fizz
4
Buzz
fizz
7
8
fizz
Buzz
11
fizz
13
14
fizzBuzz

##Decorator In python

In [ ]:
def div(n1,n2):
  print(n1/n2)

def new_div(func):
  def div1(a,b):
    if a < b:
      a,b=b,a
    else:
      a,b=a,b
    return func(a,b)
  return div1

div2=new_div(div)

div(12,6)
div2(2,4)

2.0
2.0

##Least occurance in string of a character

In [ ]:
def least(s):
  ch={}
  for i in s:
    if i in ch:
      ch[i]=ch[i]+1
    else:
      ch[i]=1
  print(ch)
  res=min(ch, key=ch.get)
  print(res)

s="ssnneehhaallli"
least(s)

{'s': 2, 'n': 2, 'e': 2, 'h': 2, 'a': 2, 'l': 3, 'i': 1}
i

Occurance of a given element

In [ ]:
def least(s,search_ele):
  ch={}
  for i in s:
    if i in ch:
      ch[i]=ch[i]+1
    else:
      ch[i]=1
  print(ch)
  #print(ch[search_ele])
  res=min(ch, key=ch.get)
  print(res)
  try :
    print(ch[search_ele])
  except:
   print(0)


s="ssnneehhaallli"
least(s,'e')

{'s': 2, 'n': 2, 'e': 2, 'h': 2, 'a': 2, 'l': 3, 'i': 1}
i
2

##Prime numbers

In [ ]:
def prime(n):
  flag=False
  if n>1:
    for i in range(2,n//2+1):
      if n%i==0:
        flag=True
        break
    if flag:
      print("Not prime")
    else:
      print("prime")
  
prime(22)

Not prime

In [ ]:
def prime2(n):
  if n>1:
    for i in range(2,n//2+1):
      if n%i==0:
        print("not prime")
        break
    else :
      print("prime")
  else :
      print("Not prime")
  
prime2(22)

not prime

In [ ]:
def range_prime(start,end):
    for n in range(start,end):
      if n>1:
        for i in range(2,n//2+1):
          if n%i==0:
            break
        else:
          print(n)

range_prime(1,20)

2
3
5
7
11
13
17
19

##String manipulation

In [ ]:
#input=I_am_having_GOOD_DaY
#output=

def String_manipulation(s):
  temp=s.split('_')
  l=[]
  for i in temp:
    l.append(i[0].lower()+i[1:].upper())
  res='.'.join(l)
  return res
s="I_am_having_GOOD_DaY"
String_manipulation(s)

'i.aM.hAVING.gOOD.dAY'

In [ ]:
def String_manipulation1(s):
  temp=s.split('_')
  res=''
  for i in temp:
    res = res+ i[0].lower()+i[1:].upper()+(".")
  res = res+ i[0].lower()+i[1:].upper()
  return res
s="I_am_having_GOOD_DaY"
String_manipulation1(s)

'i.aM.hAVING.gOOD.dAY.dAY'

##SecondHighestNumber

##Armstrong Number

In [18]:
list1=[[13,4,2,4],[4,6,7,[88,9,0,1],7],[99,101]]
list1[1][3][0]=75
list1[1][3].insert(5,88)
print(list1)

[[13, 4, 2, 4], [4, 6, 7, [75, 9, 0, 1, 88], 7], [99, 101]]

In [19]:
salaries = [{

  "rajesh": { "salary": 1000 },

  "harish": { "salary": 2000 },

  "mayur": { "salary": 3000 }

}]

for employees in salaries:
  for employee in employees:
    employees[employee]['salary'] = int(
      (employees[employee]['salary'] * 110) / 100)
print(salaries)

[{'rajesh': {'salary': 1100}, 'harish': {'salary': 2200}, 'mayur': {'salary': 3300}}]

In [41]:
dict1={ 'rajesh': {'salary':1100},'harish': { 'salary':2200},'mayur': { 'salary':3300}}
sum=0
for k,v in dict1.items():
  print(k)
  if v and 'salary' in v.keys():
    sum+=v['salary']

print(sum//len(dict1))

rajesh
harish
mayur
2200

In [11]:
list2=[45,76,55,4,3,2,1]
max_ele=0
for i in list2:
  if max_ele<i:
    max_ele=i
print(max_ele)

76

In [17]:
list2=[45,76,55,4,3,2,1,55,76,1,2]
list3=[]
for i in list2:
  if i not in list3:
    list3.append(i)

print(list3)

[45, 76, 55, 4, 3, 2, 1]